*{
    margin: 0px;
    padding: 0px;
}
.content{
    background-color: #1b345d;
    width: auto;
    height: auto;
    padding-top: 5px;
}
.titulo{
    background-color: #cf3036;
    color: #c2d6ec;
    display: block;
    width: auto;
    margin: 10px 20px 20px 20px;
    padding: 5px 15px;
    border-radius: 10px 0px 10px 10px;
    -webkit-border-radius: 10px 0px 10px 10px;
    -moz-border-radius: 10px 0px 10px 10px;
}
.primeralinealista{
    margin-left: -20px;
    list-style-type: none;
}
.lista1{
    background-color: #2a7d8c;
    display: inline-block;
    color: antiquewhite;
    padding: 16px 16px 16px 36px;
    margin: 10px 10px 20px 20px;
        border-radius: 0px 25px 25px 25px;
        -webkit-border-radius: 0px 25px 25px 25px;
        -moz-border-radius: 0px 25px 25px 25px;
}
.listaenlista{
    background-color: #2a7d8c;
    margin-left: 20px;
}
.li,a{
    color: #55c7df;
}
.conten2{
    display: inline-block;
    background-color: #0e1822;
    color: #c2d6ec;
    width: auto;
    height: auto;
    margin: 10px 20px 10px 10px;
    padding: 20px;
    border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
}

.flex{
    display: flex;
}
.listaenlista2{
    padding: 20px;
    color: #c2d6ec;
}
.piededepagina{
    background-color: #6d7b8ab0;
    margin: 20px;
    padding: 20px;
    color: #c2d6ec;
    border-radius: 20px 20px 20px 20px;
        -webkit-border-radius: 20px 20px 20px 20px;
        -moz-border-radius: 20px 20px 20px 20px;
}